<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <div class="alert alert-danger" *ngIf="error">
      <p>{{ error }}</p>
    </div>
    <div *ngIf="isLoading" style="text-align: center">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <form
      #authForm="ngForm"
      (ngSubmit)="onSubmitForm(authForm)"
      *ngIf="!isLoading"
    >
      <div class="form-group">
        <label for="email">E-Mail</label>
        <input
          class="form-control"
          type="email"
          id="email"
          ngModel
          required
          email
          name="email"
          #email="ngModel"
        />
        <span *ngIf="!email.valid && email.touched">
          Please Enter A Valid E-Mail
        </span>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          class="form-control"
          type="password"
          id="password"
          ngModel
          required
          password
          name="password"
          minlength="6"
          #password="ngModel"
        />
        <span *ngIf="!password.valid && password.touched">
          Please Enter A Valid Password
        </span>
      </div>

      <div>
        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="!authForm.valid"
        >
          {{ isLoginMode ? "Login" : "Sign Up" }}
        </button>
        |
        <button class="btn btn-primary" type="button" (click)="onSwitchMode()">
          Switch To {{ isLoginMode ? "Sign Up" : "Login" }}
        </button>
      </div>
      <div *ngIf="!authForm.valid && authForm.touched">
        Please Enter Valid Data
      </div>
    </form>
  </div>
</div>
