<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onSubmit()" #ingredents="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            class="form-control"
            name="nameInput"
            required
            ngModel
            #nameInput="ngModel"
          />
          <span class="help-block" *ngIf="!nameInput.valid && nameInput.touched"
            >Please Enter A Valid Name</span
          >
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input
            type="number"
            required
            name="amountInput"
            ngModel
            id="number"
            class="form-control"
            #amountInput="ngModel"
            pattern="^[1-9]+[0-9]*$"
          />
          <span
            class="help-block"
            *ngIf="!amountInput.valid && amountInput.touched"
            >Please Enter A Valid Amount</span
          >
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <span
            class="help-block"
            *ngIf="!ingredents.valid && ingredents.touched"
            >Please Enter Valid Data</span
          >
          <button
            class="btn btn-success"
            type="submit"
            [disabled]="!ingredents.valid"
          >
            {{ editMode ? "Update" : "Add" }}
          </button>
          <button class="btn btn-danger" *ngIf="editMode" (click)="deleteItem()" type="button">
            Delete
          </button>
          <button class="btn btn-primary" (click)="clearForm()" type="button">
            Clear
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
